---
import Layout from "../layouts/Layout.astro";
import MapCard from "../components/mapCard.astro";

interface Props {
  maps: any[];
  className?: string;
}

export const prerender = false;
const API_URL = "https://apibot.server211.ovh/maps";

let maps = [];
try {
  const res = await fetch(API_URL);
  maps = res.ok ? await res.json() : [];
  maps.sort((a, b) => b.chance - a.chance);
} catch (err) {
  console.error("Error conectando con la API:", err);
}
---

<Layout title="Maps">
  <div class:list={["grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6"]}>
    {
      maps.map((mapData) => (
        <MapCard
          key={mapData._id}
          mapData={mapData}
          imageUrl={`maps/${mapData.name.toLowerCase().replace(/\s+/g, "")}.png`}
          showTopCivs={5}
        />
      ))
    }
  </div>
</Layout>
